body {
  margin: 0;
  font-size: 16px;
}

#header {
  width: 100%;
  background: #2ec8a6;
  z-index: 2;
  position: relative;
}
#header .firstul {
  margin: 0 -15px;
}
#header .firstul ul {
  padding: 5px;
  margin: 0 -15px;
}
#header .firstul ul li {
  list-style: none;
  display: inline-block;
  font-size: 14px;
  color: white;
}
#header .firstul ul li a {
  color: white;
  text-decoration: none;
  transition: all .5s ease;
}
#header .firstul ul li a:hover {
  color: orange;
}
#header .firstul ul li {
  margin: 0 5px;
}
#header .firstul ul li:nth-child(2) i {
  transform: rotate(90deg);
}
#header .firstul ul li i {
  color: white;
  border: 1px solid white;
  padding: 10px;
  font-size: 13px;
  border: 2px solid #41d3b3;
  margin: 0 5px;
}
#header .secondtop .darker {
  width: 170px;
  float: right;
  background: #249f84;
}
#header .secondtop .darker ul {
  margin: 0;
  font-size: 15px;
  padding: 14px;
}
#header .secondtop .darker ul li {
  list-style: none;
  display: inline-block;
  color: white;
}
#header .secondtop .darker ul a {
  text-decoration: none;
  color: white;
  transition: all .5s ease;
  margin-left: 15px;
}
#header .secondtop .darker ul a:hover {
  color: orange;
}

#navigation {
  width: 100%;
}
#navigation .logodiv a {
  margin: 0 -15px;
  position: absolute;
}
#navigation .logodiv .logo {
  position: absolute;
  top: -150px;
  z-index: 1;
  transition: all 0.5s cubic-bezier(0.42, 0, 0.55, 1.57);
}
#navigation .navmenu ul {
  margin: 0;
  padding: 15px;
  float: right;
}
#navigation .navmenu ul li {
  font-size: 14px;
  padding: 2px 15px;
  display: inline-block;
  list-style-type: none;
  border: 2px solid transparent;
  border-radius: 50px;
  transition: all .5s ease;
}
#navigation .navmenu ul li a {
  text-decoration: none;
  color: black;
}
#navigation .navmenu ul li:nth-child(-n+7):hover {
  border: 2px solid #2ec8a6;
}

#mybootslider {
  width: 100%;
}
#mybootslider .container .row div {
  font-size: 54px;
  margin: 0 auto;
}

#about {
  width: 100%;
}
#about .yeep {
  position: relative;
}
#about .yeep .weirdthing {
  width: 70px;
  height: 400px;
  background: transparent;
  position: absolute;
  top: 45px;
  left: 0;
  border: 10px solid lightgray;
  z-index: 1;
}
#about .imgdiv {
  position: relative;
  z-index: 2;
  float: right;
}
#about .secondoriginal .medicabout {
  color: black;
  font-size: 30px;
  margin: 15px 0;
}
#about .secondoriginal .specabout {
  color: #2ec8a6;
  font-size: 22px;
  margin: 30px 0;
}
#about .secondoriginal .proin {
  color: gray;
  margin: 30px 0;
}
#about .secondoriginal .uldiv ul {
  margin: 40px 0;
  padding: 0;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
}
#about .secondoriginal .uldiv ul li {
  list-style-type: none;
  display: inline-block;
}
#about .secondoriginal .uldiv ul li i {
  margin-right: 20px;
  margin-top: 10px;
  color: #2ec8a6;
}

#appointment {
  width: 100%;
}
#appointment .appointback {
  background: url(../images/appoint.jpg) no-repeat center center;
}
#appointment .Aragorn img {
  position: absolute;
  top: 152px;
  left: 655px;
  z-index: 20;
  width: 40px;
}
#appointment .Aragorn i {
  position: absolute;
  top: 20px;
  left: 17px;
  font-size: 32px;
  color: white;
  z-index: 5;
}
#appointment .Aragorn .clock {
  position: absolute;
  top: 0;
  left: 0;
  border-top: 50px solid #2ec8a6;
  border-right: 50px solid transparent;
  border-left: 50px solid #2ec8a6;
  border-bottom: 50px solid transparent;
  z-index: 2;
}
#appointment .Aragorn .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.8);
}
#appointment .Aragorn .row {
  position: relative;
  z-index: 1;
}
#appointment .Aragorn .row .opening {
  padding: 50px 90px;
  color: white;
  font-size: 22px;
  font-family: 'Montserrat', sans-serif;
}
#appointment .Aragorn .row .opening .schedule {
  margin: 0;
  padding: 0;
  font-size: 16px;
}
#appointment .Aragorn .row .opening .schedule li {
  list-style-type: none;
  color: lightgray;
}
#appointment .Aragorn .row .booking {
  font-family: 'Montserrat', sans-serif !important;
  color: white;
  font-size: 22px;
  padding: 50px 70px;
}
#appointment .Aragorn .row .booking span {
  font-size: 16px;
  color: lightgray;
}
#appointment .Aragorn .row .booking a {
  text-decoration: none;
  color: lightgray;
  transition: all .5s ease;
  font-size: 16px;
}
#appointment .Aragorn .row .booking a:hover {
  color: #2ec8a6;
}
#appointment .Aragorn .row .booking .appointlink {
  padding: 0;
}
#appointment .Aragorn .row .booking .emergency {
  width: 485px;
  height: 45px;
  background: #2ec8a6;
  position: absolute;
  top: 150px;
  left: 85px;
}
#appointment .Aragorn .row .booking .emergencyside {
  border-top: 30px solid #2ec8a6;
  border-right: 19px solid #2ec8a6;
  border-left: 35px solid transparent;
  border-bottom: 15px solid transparent;
  position: absolute;
  top: 150px;
  left: 31px;
  z-index: 15;
}

#choice {
  width: 100%;
  background: url(../images/choice.jpg) no-repeat center center;
  background-size: 100%;
  position: relative;
  padding: 100px 0;
}
#choice .secondoverlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.7);
}
#choice .Boromir .mygrreed .samplepars {
  background: white;
  height: 50px;
  border: 1px solid orange;
  margin: 10px 0;
}
#choice .Boromir span {
  display: block;
}

#specs {
  width: 100%;
}
#specs .aligning {
  text-align: center;
}
#specs .crew {
  text-align: center;
}
#specs .crew .leftsidething {
  position: absolute;
  top: 0;
  left: 15px;
  border-top: 120px solid #2ec8a6;
  border-left: 0 solid #2ec8a6;
  border-right: 120px solid transparent;
  border-bottom: 0 solid transparent;
}
#specs .crew .leftsideimg {
  position: absolute;
  top: 20px;
  left: 35px;
}
#specs .crew .actualcrew {
  width: 100%;
}
#specs .crew .contact {
  padding: 20px 40px;
  color: white;
  background: #2ec8a6;
}
#specs .crew .contact i {
  border: 2px solid #41d3b3;
  padding: 10px;
  float: left;
}
#specs .crew .contact .facebook {
  padding: 10px 13px;
}

#videosec {
  width: 100%;
  background: url(../images/video.jpg);
  background-size: 100%;
  z-index: -1;
}
#videosec .overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  z-index: 0;
}
#videosec .margining {
  padding: 200px 0;
}
#videosec .margining .aligneddiv {
  text-align: center;
  color: white;
}
#videosec .margining .aligneddiv .font30 {
  font-size: 30px;
}
#videosec .margining .aligneddiv .font40 {
  font-size: 40px;
}
#videosec .margining .playbutton {
  float: right;
}
#videosec .margining .playbutton a {
  transition: all .5s ease;
  color: white;
  text-decoration: none;
}
#videosec .margining .playbutton a:hover {
  color: orange;
}
#videosec .margining .aboutus {
  padding: 19px 0;
}

#events {
  width: 100%;
}
#events .comeup {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  color: black;
  font-weight: 700;
  line-height: 24px;
}
#events .rightsliders {
  float: right;
}
#events .crewtip img {
  width: 100%;
}
