body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

#header {
  width: 100%;
  background: #2ec8a6;
  z-index: 155;
  position: relative;
}
#header .firstul {
  margin: 0 -15px;
}
#header .firstul ul {
  padding: 5px;
  margin: 0 -15px;
}
#header .firstul ul li {
  list-style: none;
  display: inline-block;
  font-size: 14px;
  color: white;
}
#header .firstul ul li a {
  color: white;
  text-decoration: none;
  transition: all .5s ease;
}
#header .firstul ul li a:hover {
  color: orange;
}
#header .firstul ul li {
  margin: 0 5px;
}
#header .firstul ul li:nth-child(2) i {
  transform: rotate(90deg);
}
#header .firstul ul li i {
  color: white;
  border: 1px solid white;
  padding: 10px;
  font-size: 13px;
  border: 2px solid #41d3b3;
  margin: 0 5px;
}
#header .secondtop .darker {
  width: 170px;
  float: right;
  background: #249f84;
}
#header .secondtop .darker ul {
  margin: 0;
  font-size: 15px;
  padding: 14px;
}
#header .secondtop .darker ul li {
  list-style: none;
  display: inline-block;
  color: white;
}
#header .secondtop .darker ul a {
  text-decoration: none;
  color: white;
  transition: all .5s ease;
  margin-left: 15px;
}
#header .secondtop .darker ul a:hover {
  color: orange;
}

#navigation {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 15;
  background: rgba(255, 255, 255, 0.7);
  margin-bottom: -59px;
}
#navigation .logodiv a {
  margin: 0 -15px;
  position: relative;
}
#navigation .logodiv a .logo {
  position: absolute;
  top: -150px;
  z-index: 1;
  transition: all 0.5s cubic-bezier(0.42, 0, 0.55, 1.57);
}
#navigation .navmenu ul {
  margin: 0;
  padding: 15px;
  float: right;
}
#navigation .navmenu ul li {
  font-size: 14px;
  padding: 2px 15px;
  display: inline-block;
  list-style-type: none;
  border: 2px solid transparent;
  border-radius: 50px;
  transition: all .5s ease;
}
#navigation .navmenu ul li a {
  text-decoration: none;
  color: black;
}
#navigation .navmenu ul li:nth-child(-n+7):hover {
  border: 2px solid #2ec8a6;
}

#mybootslider {
  width: 100%;
}
#mybootslider .container .row div {
  font-size: 54px;
  margin: 0 auto;
}

#about {
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 2000;
  margin: 50px 0;
}
#about .yeep {
  position: relative;
}
#about .yeep .weirdthing {
  width: 70px;
  height: 400px;
  background: transparent;
  position: absolute;
  top: 45px;
  left: 0;
  border: 10px solid lightgray;
  z-index: 1;
}
#about .imgdiv {
  position: relative;
  z-index: 2;
  float: right;
}
#about .secondoriginal .medicabout {
  color: black;
  font-size: 30px;
  margin: 15px 0;
}
#about .secondoriginal .specabout {
  color: #2ec8a6;
  font-size: 22px;
  margin: 30px 0;
}
#about .secondoriginal .proin {
  color: gray;
  margin: 30px 0;
}
#about .secondoriginal .checks i {
  margin-right: 20px;
  margin-top: 10px;
  color: #2ec8a6;
  cursor: pointer;
}

#appointment {
  width: 100%;
  margin: 50px 0;
}
#appointment .appointback {
  background: url(../images/appoint.jpg) no-repeat center center;
}
#appointment .Aragorn img {
  position: absolute;
  top: 152px;
  left: 655px;
  z-index: 20;
  width: 40px;
}
#appointment .Aragorn i {
  position: absolute;
  top: 20px;
  left: 17px;
  font-size: 32px;
  color: white;
  z-index: 5;
}
#appointment .Aragorn .clock {
  position: absolute;
  top: 0;
  left: 0;
  border-top: 50px solid #2ec8a6;
  border-right: 50px solid transparent;
  border-left: 50px solid #2ec8a6;
  border-bottom: 50px solid transparent;
  z-index: 2;
}
#appointment .Aragorn .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.8);
}
#appointment .Aragorn .row {
  position: relative;
  z-index: 1;
}
#appointment .Aragorn .row .opening {
  padding: 50px 70px;
  color: white;
  font-size: 22px;
  font-family: 'Montserrat', sans-serif;
}
#appointment .Aragorn .row .opening .schedule {
  margin: 0;
  padding: 0;
  font-size: 16px;
}
#appointment .Aragorn .row .opening .schedule li {
  list-style-type: none;
  color: lightgray;
}
#appointment .Aragorn .row .booking {
  font-family: 'Montserrat', sans-serif !important;
  color: white;
  font-size: 22px;
  padding: 50px 60px;
}
#appointment .Aragorn .row .booking span {
  font-size: 16px;
  color: lightgray;
}
#appointment .Aragorn .row .booking a {
  text-decoration: none;
  color: lightgray;
  transition: all .5s ease;
  font-size: 16px;
}
#appointment .Aragorn .row .booking a:hover {
  color: #2ec8a6;
}
#appointment .Aragorn .row .booking .appointlink {
  padding: 0;
}
#appointment .Aragorn .row .booking .emergency {
  width: 485px;
  height: 45px;
  background: #2ec8a6;
  position: absolute;
  top: 150px;
  left: 85px;
  text-align: center;
  overflow: hidden;
}
#appointment .Aragorn .row .booking .emergency h5 {
  line-height: 40px;
}
#appointment .Aragorn .row .booking .emergencyside {
  border-top: 30px solid #2ec8a6;
  border-right: 19px solid #2ec8a6;
  border-left: 35px solid transparent;
  border-bottom: 15px solid transparent;
  position: absolute;
  top: 150px;
  left: 31px;
  z-index: 15;
}

#choice {
  width: 100%;
  background: url(../images/choice.jpg) no-repeat center center;
  background-size: 100%;
  position: relative;
  padding: 100px 0;
  margin: 50px 0;
}
#choice .secondoverlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.7);
}
#choice .Boromir {
  margin: 0 -15px;
}
#choice .Boromir img {
  margin: 30px 0;
}
#choice .Boromir .accordion .samplepars {
  background: white;
  border: 1px solid lightgray;
  margin: 10px 0;
  padding: 15px 0;
}
#choice .Boromir .accordion .samplepars h5 {
  margin: 0;
  margin-left: 20px;
  display: inline-block;
}
#choice .Boromir .accordion .samplepars i {
  float: right;
  color: #2ec8a6;
}

#specs {
  width: 100%;
}
#specs .aligning {
  text-align: center;
}
#specs .crew {
  text-align: center;
}
#specs .crew .leftsidething {
  position: absolute;
  top: 0;
  left: 15px;
  border-top: 120px solid #2ec8a6;
  border-left: 0 solid #2ec8a6;
  border-right: 120px solid transparent;
  border-bottom: 0 solid transparent;
}
#specs .crew .leftsideimg {
  position: absolute;
  top: 20px;
  left: 35px;
}
#specs .crew .actualcrew {
  width: 100%;
}
#specs .crew .contact {
  padding: 20px 40px;
  color: white;
  background: #2ec8a6;
}
#specs .crew .contact i {
  border: 2px solid #41d3b3;
  padding: 10px;
  float: left;
}
#specs .crew .contact .facebook {
  padding: 10px 13px;
}

#videosec {
  width: 100%;
  background: url(../images/video.jpg);
  background-size: 100%;
  z-index: -1;
}
#videosec .overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  z-index: 0;
}
#videosec .margining {
  padding: 200px 0;
}
#videosec .margining .aligneddiv {
  text-align: center;
  color: white;
}
#videosec .margining .aligneddiv .font30 {
  font-size: 30px;
}
#videosec .margining .aligneddiv .font40 {
  font-size: 40px;
}
#videosec .margining .playbutton {
  float: right;
}
#videosec .margining .playbutton a {
  transition: all .5s ease;
  color: white;
  text-decoration: none;
}
#videosec .margining .playbutton a:hover {
  color: orange;
}
#videosec .margining .aboutus {
  padding: 19px 0;
}

#events {
  width: 100%;
}
#events .comeup {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  color: black;
  font-weight: 700;
  line-height: 24px;
}
#events .rightsliders {
  float: right;
}
#events .okayy {
  margin: 0 -15px;
}
#events .okayy .crewtip .fehle {
  width: 100%;
}
#events .okayy .crewtip .leftsidething {
  position: absolute;
  top: 0;
  left: 15px;
  border-top: 80px solid #2ec8a6;
  border-left: 0 solid #2ec8a6;
  border-right: 80px solid transparent;
  border-bottom: 0 solid transparent;
}
#events .okayy .crewtip i {
  position: absolute;
  top: 15px;
  left: 30px;
  color: white;
  font-size: 16px;
  z-index: 20;
}
#events .okayy .inform {
  background: lightgray;
  margin-left: -30px;
  width: 100%;
  height: 100%;
  padding: 30px;
}

#statistics {
  width: 100%;
  background: url(../images/statistics.jpg) no-repeat center center;
}
#statistics .overlay {
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
}
#statistics .overlay .stats {
  text-align: center;
}
#statistics .overlay .stats .statbox {
  width: 100px;
  height: 100px;
  border: 2px solid #2ec8a6;
  background: white;
  padding: 30px 28px;
  transition: all .5s ease;
  position: relative;
  left: calc(50% - 50px);
  text-align: center;
}
#statistics .overlay .stats .statbox:hover {
  background: #2ec8a6;
}

#blog {
  width: 100%;
}
#blog .news_blog {
  font-size: 30px;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color: black;
}
#blog .theline {
  text-align: center;
}
#blog .proingrav {
  text-align: center;
  color: gray;
  font-weight: 400;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}
#blog .blogcard1 img {
  width: 100%;
  transition: all .5s ease;
}
#blog .blogcard1 img:hover {
  transform: scale(1.2);
}
#blog .blogcard1 .morelink {
  text-decoration: none;
  color: #2ec8a6;
}
#blog .blogcard1 .blogimg1 {
  position: relative;
  overflow: hidden;
}
#blog .blogcard1 .blogimg1 .comment_like {
  position: absolute;
  right: 0;
  bottom: 0;
}
#blog .blogcard1 .blogimg1 .comment_like .intheline {
  display: inline-block;
  background: white;
  padding: 5px;
  margin: 10px;
  transition: all .5s ease;
}
#blog .blogcard1 .blogimg1 .comment_like .intheline:hover {
  background: #2ec8a6;
  color: white;
}
#blog .blogcard2 img {
  width: 100%;
  transition: all .5s ease;
}
#blog .blogcard2 img:hover {
  transform: scale(1.2);
}
#blog .blogcard2 .morelink {
  text-decoration: none;
  color: #2ec8a6;
}
#blog .blogcard2 .blogimg2 {
  position: relative;
  overflow: hidden;
}
#blog .blogcard2 .blogimg2 .comment_like {
  position: absolute;
  right: 0;
  bottom: 0;
}
#blog .blogcard2 .blogimg2 .comment_like .intheline {
  display: inline-block;
  background: white;
  padding: 5px;
  margin: 10px;
  transition: all .5s ease;
}
#blog .blogcard2 .blogimg2 .comment_like .intheline:hover {
  background: #2ec8a6;
  color: white;
}
#blog .blogcard3 img {
  width: 100%;
  transition: all .5s ease;
}
#blog .blogcard3 img:hover {
  transform: scale(1.2);
}
#blog .blogcard3 .morelink {
  text-decoration: none;
  color: #2ec8a6;
}
#blog .blogcard3 .blogimg3 {
  position: relative;
  overflow: hidden;
}
#blog .blogcard3 .blogimg3 .comment_like {
  position: absolute;
  right: 0;
  bottom: 0;
}
#blog .blogcard3 .blogimg3 .comment_like .intheline {
  display: inline-block;
  background: white;
  padding: 5px;
  margin: 10px;
  transition: all .5s ease;
}
#blog .blogcard3 .blogimg3 .comment_like .intheline:hover {
  background: #2ec8a6;
  color: white;
}

#patsay {
  width: 100%;
  background: url(../images/patbg.jpg) no-repeat center center;
  background-size: 100%;
}
#patsay .overlay {
  background: rgba(0, 0, 0, 0.8);
}
#patsay .overlay .patients {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  font-weight: 700;
  color: white;
}
#patsay .overlay .patients .saybutt {
  float: right;
}
#patsay .overlay .audit {
  background: rgba(255, 255, 255, 0.2);
}
#patsay .overlay .audit .leftsidething {
  position: absolute;
  top: 0;
  left: 15px;
  border-top: 80px solid #2ec8a6;
  border-left: 0 solid #2ec8a6;
  border-right: 80px solid transparent;
  border-bottom: 0 solid transparent;
}
#patsay .overlay .audit .adit {
  display: inline-block;
}

#apppoint {
  width: 100%;
}
#apppoint .leftsidething {
  position: absolute;
  top: 0;
  left: 15px;
  border-top: 120px solid orange;
  border-right: 120px solid transparent;
}
#apppoint .inputs {
  background: #2ec8a6;
  text-align: center;
  padding: 0 100px;
  padding-top: 80px;
}
#apppoint .inputs img {
  position: absolute;
  top: 25px;
  left: 35px;
}
#apppoint .inputs i {
  color: white;
  position: absolute;
  top: 30px;
  right: 40px;
}
#apppoint .inputs .normalin {
  width: 280px;
  height: 50px;
  margin: 15px 0;
  background: transparent;
  border: 2px solid #67dcc2;
  color: white;
}
#apppoint .inputs .normalin::placeholder {
  color: #67dcc2;
  padding: 10px;
}
#apppoint .inputs .messagebox {
  width: 610px;
  height: 100px;
  background: transparent;
  border: 2px solid #67dcc2;
  color: white;
}
#apppoint .inputs .messagebox::placeholder {
  color: #67dcc2;
  padding: 10px;
  padding-top: -20px;
}
#apppoint .bookthing {
  text-align: center;
  position: relative;
  margin: 0px -15px;
}
#apppoint .bookthing .greendot {
  position: absolute;
  top: 140px;
  left: calc(50% - 15px);
  width: 30px;
  height: 30px;
  background: #2ec8a6;
  border-radius: 100%;
  border: 5px solid white;
}

#map {
  width: 100%;
}

#enquiry {
  width: 100%;
  background: #2ec8a6;
  padding: 80px 0;
}
#enquiry .firststep {
  font-family: 'Montserrat', sans-serif;
  font-size: 26px;
  font-weight: 700;
  color: white;
}
#enquiry button {
  background: white;
  border: 2px solid white;
  border-radius: 50px;
  font-size: 16px;
  transition: all .5s ease;
}
#enquiry button:hover {
  background: #2ec8a6;
}

#footer {
  width: 100%;
  background: black;
}
#footer .borred {
  border-bottom: 1px solid gray;
}
#footer .withicon {
  margin: 0 -15px;
  border-right: 1px solid gray;
}
#footer .withicon .morelink {
  text-decoration: none;
  color: #2ec8a6;
}
#footer .withicon .logoul {
  margin: 0 -15px;
}
#footer .withicon .logoul ul {
  padding: 20px;
  margin: 0 -15px;
}
#footer .withicon .logoul ul li {
  list-style-type: none;
  display: inline-block;
  font-size: 14px;
  color: white;
  margin: 5px;
}
#footer .withicon .logoul ul li a {
  color: white;
  text-decoration: none;
  transition: all .5s ease;
}
#footer .withicon .logoul ul li a:hover {
  color: #2ec8a6;
}
#footer .withicon .logoul ul li:nth-child(2) i {
  transform: rotate(90deg);
}
#footer .withicon .logoul ul li i {
  width: 35px;
  height: 35px;
  color: white;
  padding: 10px;
  font-size: 13px;
  border: 2px solid #262626;
  margin: 0 5px;
  text-align: center;
}
#footer .userfulul {
  margin: 0;
  padding: 0;
}
#footer .userfulul li {
  list-style: none;
}
#footer .hoursul {
  margin: 0;
  padding: 0;
}
#footer .hoursul li {
  list-style: none;
}
#footer .contactul {
  margin: 0;
  padding: 0;
}
#footer .contactul li {
  list-style: none;
  display: inline-block;
}
