$mainColor: #2ec8a6;


body{
    margin: 0;
    //font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}



@import "lib/header";
@import "lib/navigation";
@import "lib/mybootslider";
@import "lib/about";
@import "lib/appointment";
@import "lib/choice";
@import "lib/specs";
@import "lib/videosec";
@import "lib/events";
@import "lib/statistics";